<!DOCTYPE html>
<html lang="pt-BR">

<head>

  <title>Configurações</title>

</head>

<body>

  <div class="app d-flex">

    <!-- MAIN -->
    <main class="flex-grow-1 p-4">
      <h1 class="h4 mb-3">Configurações</h1>
      <div class="container align-items-center">
        <div class="d-flex justify-content-center">
          <div class="col-12 col-md-6 ">
            <div class="container">

              <div class="col">
                <form>
                  <div class="form-group">
                    <label for="sign-up-nome"><span id="span-nome-fantasia">Nome Completo</span></label>
                    <input type="text" class="form-control mb-2" id="sign-up-nome"
                      placeholder="Insira seu Nome Completo" readonly>
                  </div>
                  <div class="row ">

                    <div class="col align-self-center">
                      <div class="form-group">
                        <label for="sign-up-cpf-cnpj"><span id="span-cpf-cnpj">CPF</span></label>
                        <input type="text" class="form-control" id="sign-up-cpf-cnpj" placeholder="Insira o CPF"
                          readonly>
                      </div>
                    </div>
                  </div>
                  <div id="div-nome-da-empresa" class="form-group d-none">
                    <label for="sign-up-razao-social">Nome da Empresa</label>
                    <input type="text" class="form-control mb-2" id="sign-up-razao-social"
                      placeholder="Insira o Nome da Empresa">
                  </div>
                  <div class="form-group">
                    <label for="sign-up-endereco">Endereço</label>
                    <input type="text" class="form-control mb-2" id="sign-up-endereco" placeholder="Insira o Endereço">
                  </div>
                  <div class="form-group">
                    <label for="sign-up-telefone">Telefone</label>
                    <input type="text" class="form-control mb-2" id="sign-up-telefone"
                      placeholder="Insira o número de Telefone">
                  </div>
                  <div class="form-group">
                    <label for="sign-up-email">Endereço de E-mail</label>
                    <input type="email" class="form-control mb-2" id="sign-up-email" aria-describedby="emailHelp"
                      placeholder="Insira seu e-mail">
                  </div>
                  <div class="form-group">
                    <label for="sign-up-password">Senha</label>
                    <input type="password" class="form-control mb-3" id="sign-up-password"
                      placeholder="Insira sua senha">
                  </div>
                  <div class="form-group">
                    <label for="sign-up-password2">Repita a Senha</label>
                    <input type="password" class="form-control mb-3" id="sign-up-password2"
                      placeholder="Insira sua senha">
                  </div>

                </form>
              </div>



            </div>
          </div>
        </div>
        <div class="col-12 d-flex text-center">
          <div class="col"> <button id="btn-salvar" type="button" class="btn btn-primary">Atualizar Cadastro</button>
          </div>
          <div class="col"> <button id="btn-reset" type="button" class="btn btn-secondary">Apagar Todos os Dados</button>
          </div>
          <!-- <button id="btn-salvar" type="button" class="btn btn-primary">Atualizar Cadastro</button> -->
          <!-- </div> -->
        </div>

      </div>
    </main>

  </div>
  <script type="module" src="../assets/js/configuracoes.js"></script>

</body>

</html>