<!DOCTYPE html>

<head>
  <title>Dashboard</title>

</head>

<body>


  <div class="app d-flex">





    <!-- Start Main -->
    <main class="flex-grow-1 p-4">
      <h1 class="h4 mb-3">Página Inicial</h1>



      <h5>Vendas mensais </h5>

      <div class="row align-items-center mb-2">

        <div class="col-1 text-end">Março</div>
        <div class="col-10">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 65%; background-color: #2988CA;"
              aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"> $6,5K</div>
          </div>
        </div>

      </div>

      <div class="row align-items-center mb-2">
        <div class="col-1 text-end">Abril</div>
        <div class="col-10">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 43%; background-color: #2988CA;"
              aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"> $4,3K</div>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-2">
        <div class="col-1 text-end">Maio</div>
        <div class="col-10">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 58%; background-color: #2988CA;"
              aria-valuenow="58" aria-valuemin="0" aria-valuemax="100"> $5,8K</div>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-2">
        <div class="col-1 text-end">Junho</div>
        <div class="col-10">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 52%; background-color: #2988CA;"
              aria-valuenow="52" aria-valuemin="0" aria-valuemax="100"> $5,2K</div>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-2">
        <div class="col-1 text-end">Julho</div>
        <div class="col-10">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 48%; background-color: #2988CA;"
              aria-valuenow="48" aria-valuemin="0" aria-valuemax="100"> $4,8K</div>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-2">
        <div class="col-1 text-end">Agosto</div>
        <div class="col-10">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 45%; background-color: #2988CA;"
              aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"> $4,5K</div>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-2">
        <div class="col-1 text-end">Setembro</div>
        <div class="col-10">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 32%; background-color: #2988CA;"
              aria-valuenow="32" aria-valuemin="0" aria-valuemax="100"> $3,2K</div>
          </div>
        </div>
      </div>
      <div class="row align-items-center mb-2">
        <div class="col-1 text-end">Outubro</div>
        <div class="col-10">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 36%; background-color: #2988CA;"
              aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"> $3,6K</div>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-2">
        <div class="col-1 text-end">Novembro</div>
        <div class="col-10">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 38%; background-color: #2988CA;"
              aria-valuenow="38" aria-valuemin="0" aria-valuemax="100"> $3,8K</div>
          </div>
        </div>
      </div>

      <div class="row align-items-center mb-2">
        <div class="col-1 text-end">Dezembro</div>
        <div class="col-10">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 43%; background-color: #2988CA;"
              aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"> $4,3K</div>
          </div>
        </div>
      </div>











      <div class="mt-3 container align-items-center">
        <div class="d-flex justify-content-center">
          <div class="col-10">
            <div class="conteiner">





              <h5>
                Produtos em falta
              </h5>
              <table class="table table-hover table-bordered">

                <thead>
                  <tr>
                    <th>codigo</th>
                    <th>Tipo</th>
                    <th>Nome/Razão social</th>
                    <th>Unidade</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Produto</td>
                    <td>Biscoito recheado</td>
                    <td>UN</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Produto</td>
                    <td>Detergente </td>
                    <td>UN</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>


</body>