<!DOCTYPE html>
<html lang="pt-BR">

<head>

  <title>Contas a Pagar</title>
 

</head>

<body>
 

  <div class="app d-flex">
 

    <main class="flex-grow-1 p-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="h4">Contas a Pagar</h1>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contaPagarModal">+ Nova Conta</button>
      </div>

      <table class="table table-hover table-bordered" id="tabelaContasPagar">
        <thead>
          <tr>
            <th>Status</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Descrição</th>
            <th>Vencimento</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </main>
  </div>

  <div class="modal fade" id="contaPagarModal" tabindex="-1" aria-labelledby="contaPagarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contaPagarModalLabel">Adicionar Nova Conta a Pagar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form id="formContaPagar">
            <input type="hidden" id="contaPagarId">
            <div class="mb-3">
              <label class="form-label">Status</label>
              <select id="modalStatusConta" class="form-select">
                <option value="">Selecione</option>
                <option value="Pendente">Pendente</option>
                <option value="Pago">Pago</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Tipo</label>
              <input type="text" id="modalTipoConta" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Valor</label>
              <input type="number" id="modalValorConta" class="form-control" step="0.01">
            </div>
            <div class="mb-3">
              <label class="form-label">Descrição</label>
              <input type="text" id="modalDescricaoConta" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Vencimento</label>
              <input type="date" id="modalVencimentoConta" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button class="btn btn-primary" onclick="salvarContaPagar()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  
  <script type="module" src="../assets/js/pagar.js"></script>


  
</body>

</html>