<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <title>Relatório de Faturamento</title>
</head>

<body>
 
  <div class="app d-flex">


    <!-- Start Main -->
    <main class="flex-grow-1 p-4">

      <div class="container-fluid px-0">
        <h1 class="h4 mb-3">Relatório de Faturamento</h1>

        <form>
          <div class="row g-3 mb-3">

            <div class="col-12 col-md-6">
              <label class="form-label fw-semibold">Período:</label>
              <div class="input-group">
                <input id="init-date" type="date" class="form-control" aria-label="Data inicial">
                <span class="input-group-text">a</span>
                <input id="end-date" type="date" class="form-control" aria-label="Data final">

              </div>
            </div>

            <div class="col-12 col-md-6">
              <label for="filter-type" class="form-label fw-semibold">Tipo:</label>
              <select id="filter-type" class="form-select" aria-placeholder="">
                <option value="" selected>Produtos e Serviços</option>
                <option value="produto">Produtos</option>
                <option value="servico">Serviços</option>
              </select>
            </div>

            <div id="clients-filter-div" class="col-12 col-md-6">

            </div>

            <div class="col-12 col-md-6">
              <label for="filter-payment" class="form-label fw-semibold">Forma de Pagamento:</label>
              <select id="filter-payment" class="form-select" aria-placeholder="">
                <option value="" selected>Todas as formas de pagamento</option>
                <option value="dinheiro">Dinheiro</option>
                <option value="débito">Débito</option>
                <option value="crédito">Crédito</option>
                <option value="boleto">Boleto</option>
              </select>
            </div>

            <div class="col-12 d-flex justify-content-end mt-3">
              <button id="btn-make-filter" type="submit" class="btn btn-primary">Filtrar</button>
            </div>

          </div>
        </form>
      </div>


      <div id="results"></div>
    </main>


    <!-- End Main -->
  </div>
  <script type="module" src="../assets/js/rel-faturamento.js"> </script>
</body>

</html>