<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <title>Vendas em Aberto</title>
</head>

<body>

  <div class="app d-flex">


    <!-- Start Main -->
    <main class="flex-grow-1 p-4">
      <h1 class="h4 mb-3">Vendas em Aberto</h1>

      <div class="d-flex justify-content-between align-items-center mb-3">

        <style>
          .imput-goup {
            margin-left: 500px;
          }
        </style>

        </button>
        <div class="input-group" style="margin-left:  900px;">
          <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-secondary" type="button" id="button-search-pagar"><i
              class="bi bi-search"></i></button>
          <button class="btn btn-outline-secondary" type="button" id="button-filter-pagar"><i
              class="bi bi-filter"></i></button>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover mb-0" id="tabelaContasPagar">
              <thead class="table-light">
                <tr>
                  <th scope="col">Código</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Produtos / Serviços</th>
                  <th scope="col">Ultima Modificação</th>
                  <th scope="col">Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr id="conta-pagar-1" data-status="Pendente" data-tipo="Fornecedor" data-valor="450.00"
                  data-descricao="Biscoito Recheado, arr..." data-vencimento="2025-09-30">
                  <td>1</td>
                  <td>Produto</td>
                  <td>Maria de Oliveira</td>
                  <td>Biscoito Recheado, arr...</td>
                  <td>07/09/2025</td>
                  <td>
                    <button class="btn btn-outline-primary btn-sm me-1" data-bs-toggle="modal"
                      data-bs-target="#contaPagarModal" onclick="abrirModalContaPagar(1)"><i
                        class="bi bi-pencil"></i></button>
                    <button class="btn btn-outline-danger btn-sm" onclick="excluirItem('conta a pagar', 1)"><i
                        class="bi bi-trash"></i></button>
                  </td>
                </tr>
                <tr id="conta-pagar-2" data-status="Pendente" data-tipo="Fornecedor" data-valor="670.00"
                  data-descricao="Detergente" data-vencimento="2025-10-23">
                  <td>2</td>
                  <td>Produto</td>
                  <td>José da Silva</td>
                  <td>Detergente</td>
                  <td>08/09/2025</td>
                  <td>
                    <button class="btn btn-outline-primary btn-sm me-1" data-bs-toggle="modal"
                      data-bs-target="#contaPagarModal" onclick="abrirModalContaPagar(2)"><i
                        class="bi bi-pencil"></i></button>
                    <button class="btn btn-outline-danger btn-sm" onclick="excluirItem('conta a pagar', 2)"><i
                        class="bi bi-trash"></i></button>
                  </td>
                </tr>
                <tr id="conta-pagar-3" data-status="Pendente" data-tipo="Aluguel" data-valor="2500.00"
                  data-descricao="Aluguel" data-vencimento="2025-10-15">
                  <td>3</td>
                  <td>Serviço</td>
                  <td>Marcus Aurélio</td>
                  <td>Pintura de Porta</td>
                  <td>06/09/2025</td>
                  <td>
                    <button class="btn btn-outline-primary btn-sm me-1" onclick="abrirModalContaPagar(3)" data-bs-toggle="modal"
                      data-bs-target="#contaPagarModal"><i
                        class="bi bi-pencil"></i></button>
                    <button class="btn btn-outline-danger btn-sm" onclick="excluirItem('conta a pagar', 3)"><i
                        class="bi bi-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>

    <div class="modal fade" id="contaPagarModal" tabindex="-1" aria-labelledby="contaPagarModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="contaPagarModalLabel">Adicionar/Editar Conta a Pagar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="formContaPagar">
              <input type="hidden" id="contaPagarId" value="">
              <div class="mb-3">
                <label for="modalValorConta" class="form-label">Código</label>
                <input type="number" step="1" class="form-control" id="modalValorConta" placeholder="0.00">
              </div>
              <div class="mb-3">
                <label for="modalStatusConta" class="form-label">Tipo</label>
                <select class="form-select" id="modalStatusConta">
                  <option value="Pendente">Produto</option>
                  <option value="Pago">Serviço</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="modalTipoConta" class="form-label">Cliente</label>
                <input type="text" class="form-control" id="modalTipoConta" placeholder="Nome do Cliente">
              </div>

              <div class="mb-3">
                <label for="modalDescricaoConta" class="form-label">Descrição (Produtos/Serviços)</label>
                <textarea class="form-control" id="modalDescricaoConta" rows="3"
                  placeholder="Descrição do Produto/Serviço"></textarea>
              </div>
              <div class="mb-3">
                <label for="modalVencimentoConta" class="form-label">Ultima Modificação</label>
                <input type="date" class="form-control" id="modalVencimentoConta">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" onclick="salvarContaPagar()">Salvar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Main -->
  </div>
  
  <script src="assets/js/vendas_em_aberto.js"></script>
</body>

</html>